

.navbar{
    background-color: white !important;;
    border-bottom: 5px solid;
    border-image: linear-gradient(30deg,rgb(217, 121, 247),rgb(65, 1, 90))1;
    
}

.bg-team-blue{
    background-color: var(--team-purple) !important;
    border: 1px solid var(--team-purple) !important;

}

.dropdown-item:active{
    background-color:var(--team-purple) !important;
}
.bg-team-blue:hover{
    background-color: var(--team-purple-dark) !important;
}
.bg-team-blue-outline{
    background-color: white !important;
    border: 1px solid var(--team-purple) !important;
    color: var(--team-purple) !important;
}
.bg-team-blue-outline:hover{
    background-color: var(--team-purple-dark) !important;
    color:white !important;
}

.colorFullText{
    font-family: Madang Lovers;
    font-size: 60px !important;
    background: -webkit-linear-gradient(30deg,rgb(217, 121, 247),rgb(65, 1, 90));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
