.title, .underline{
    padding-bottom: 10px; /* Adjust this value for the length of the underline */
    color: var(--team-purple);
  }
  
  .underline:before {
    content: '';
    position: absolute;
    bottom: 0;
    margin-top: 10px;
    left: 50%;
    width: 50%; /* Width of the underline */
    height: 3px; /* Thickness of the underline */
    background-color:  var(--team-purple); /* Color of the underline */
    transform: translateX(-50%);
  }
  